<%= form_for @order do |f| %>
	<div>
		<%= f.label "Your Name" %>
		<%= f.text_field :orderer %>
	</div>


	<div>
		<%= f.label "Specific instructions" %>
		<%= f.text_field :comment %>
	</div>

	<div>
		<%= f.submit %>
	</div>

<% end %>