<h1><%= @order.orderer %>'s Order</h1>

	<h2>Menu items chosen</h2>
			<%= @order.dish %> </br>
			<%= @order.drink %>
	<h2>Specific Requests:</h2>
		<%= @order.comment %>
</br>
 
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %> |
<%= link_to 'Delete', order_path, method: :delete %>

