<!DOCTYPE html>
<html>
<head>
  <title>Week2Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="knead-bg">

<div class="nav-header">
<%= image_tag 'knead.jpg', class: 'knead-logo' %>
</div>

<%= yield %>

</body>
</html>
